/* #PRODUIRE{fond=css/barre_outils_icones.css,hash=dbcc2503c3ca5703c9df194ffc187764}
   md5:81a0d169f2b05a509d6da70d78ed06f8 */

.markItUp .outil_header1>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -2px}
.markItUp .outil_bold>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -22px}
.markItUp .outil_italic>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -42px}
.markItUp .outil_stroke_through>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -62px}
.markItUp .outil_liste_ul>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -442px}
.markItUp .outil_liste_ol>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -462px}
.markItUp .outil_indenter>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -482px}
.markItUp .outil_desindenter>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -502px}
.markItUp .outil_quote>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -302px}
.markItUp .outil_poesie>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -322px}
.markItUp .outil_link>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -342px}
.markItUp .outil_notes>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -362px}
.markItUp .outil_guillemets>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -522px}
.markItUp .outil_guillemets_simples>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -542px}
.markItUp .outil_guillemets_de>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -562px}
.markItUp .outil_guillemets_de_simples>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -582px}
.markItUp .outil_guillemets_uniques>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -602px}
.markItUp .outil_caracteres>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -282px}
.markItUp .outil_a_maj_grave>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -162px}
.markItUp .outil_e_maj_aigu>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -202px}
.markItUp .outil_e_maj_grave>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -222px}
.markItUp .outil_aelig>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -142px}
.markItUp .outil_aelig_maj>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -122px}
.markItUp .outil_oe>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -262px}
.markItUp .outil_oe_maj>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -242px}
.markItUp .outil_ccedil_maj>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -182px}
.markItUp .outil_uppercase>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -82px}
.markItUp .outil_lowercase>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -102px}
.markItUp .outil_code>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -382px}
.markItUp .outil_cadre>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -402px}
.markItUp .outil_clean>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -422px}
.markItUp .outil_preview>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -622px}
.markItUp .outil_intertitre1>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -2px}
.markItUp .outil_intertitre2>a>em {background-image:url("../images/intertitre2.png");background-position:0}
.markItUp .outil_intertitre3>a>em {background-image:url("../images/intertitre3.png");background-position:0}
.markItUp .outil_alignerdroite>a>em {background-image:url("../images/right.png");background-position:0}
.markItUp .outil_alignergauche>a>em {background-image:url("../images/left.png");background-position:0}
.markItUp .outil_stroke_through_et>a>em {background-image:url("../images/spt-v1.svg");background-position:-2px -62px}
.markItUp .outil_cadretexte>a>em {background-image:url("../images/cadretexte.png");background-position:0}
.markItUp .outil_speciaux>a>em {background-image:url("../images/tag.png");background-position:0}
.markItUp .outil_barre_code>a>em {background-image:url("../images/page_white_code_red.png");background-position:0}
.markItUp .outil_barre_cadre>a>em {background-image:url("../images/page_white_code.png");background-position:0}
.markItUp .outil_miseenevidence>a>em {background-image:url("../images/miseenevidence.png");background-position:0}
.markItUp .outil_miseenevidence2>a>em {background-image:url("../images/miseenevidence2.png");background-position:0}
.markItUp .outil_exposant>a>em {background-image:url("../images/exposant.png");background-position:0}
.markItUp .outil_indice>a>em {background-image:url("../images/indice.png");background-position:0}
.markItUp .outil_petitescapitales>a>em {background-image:url("../images/petitescapitales.png");background-position:0}
.markItUp .outil_barre_poesie>a>em {background-image:url("../images/poesie.png");background-position:0}
.markItUp .outil_barre_tableau>a>em {background-image:url("../images/barre-tableau.png");background-position:0}
.markItUp .tac_drop>a>em {background-image:url("../images/tac.png");}
.markItUp .tac_youtube>a>em {background-image:url("../images/tac_youtube.png");}
.markItUp .tac_dailymotion>a>em {background-image:url("../images/tac_dailymotion.png");}
.markItUp .outil_inserer_modeles>a>em {background-image:url("../images/modele-xx-adb46.svg");}
.markItUp .outil_inserer_modele_media>a>em {background-image:url("../images/document-xx-8dbaf.svg");}
.markItUp .outil_inserer_modele_formulaire_formidable>a>em {background-image:url("../images/formulaire-xx-6cfd9.svg");}
.markItUp .outil_inserer_modele_formulaire_contact>a>em {background-image:url("../images/index");}

/* roue ajax */
.ajaxLoad{
		position:relative;
}
.ajaxLoad:after {
		content:"";
		display:block;
		width:5em;
		height:5em;
		border:1px solid #eee;
		background:#fff url("../images/loader.svg") center no-repeat;
		background-size:50%;
		opacity:0.5;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-2.5em;
		margin-top:-2.5em;
}
.fullscreen .ajaxLoad:after {
		position:fixed;
		left:75%;
}
