.fr-content-media__img>*{
    height:auto;
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
}

.example-controls {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px -16px rgba(0, 0, 0, 0.32);
}

.example-controls>button {
    position: absolute;
    right: 0;
    top: 0;
}
#tac_title{
    display:none !important;
}
.example-controls__content {
    padding: 16px;
    background-color: var(--background-elevated-white);
}

.example-controls .fr-collapse--expanded~[aria-expanded] {
    display: none;
}

.example-controls .fr-collapse:not(.fr-collapse--expanded)~button:not([aria-expanded]) {
    display: none;
}

.example-controls [class*="-form-group"] {
    margin-bottom: 0;
}

.fr-display-button {
    position: fixed;
    bottom: 3.5rem;
    right: 2rem;
}

/***** mise en forme du sommaire de l'article *****/

.couleur-de-fond {
    background-color: var(--background-alt-brown-caramel);
}

.sommaire_auto a.spip_ancre {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.sommaire_auto li.fr-sidemenu__item {
    margin-bottom: 0.4em;
}

.fr-content-media__img:before {
    content: "";
    display: block;
    padding-bottom: 71.25%;
    width: 100%;
}
a.show{
    visibility: visible !important;
    opacity : 1 !important;
}
ul.mon-menu-principal{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#topbtn {
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    /* IE10+ specific styles go here */
    .example-controls {
        display: none;
    }
}
.mintest{
    min-height: 550px;
}

/* 10/03/2022 9:39 */
/*** Page 404 ***/
.errorcss{background-color: var(--background-contrast-beige-gris-galet);color: #000;padding: 2rem;margin-bottom: 2rem;}
.error_title{font-weight: bold;font-size: 2rem;}

header{z-index:1;}
:root{scroll-behavior:smooth;}
main {position: relative;z-index:0;}
.scroll-top {
    position: fixed;
    bottom: 3.5rem;
    right: 2rem;
}

.scroll-top__link {
    position: -webkit-sticky;
    position: sticky;
}

.scroll-top__link:hover {
    opacity: 0.8;
}

#tarteaucitronCloseCross:hover{
    cursor: pointer;
    background-color: var(--g400) !important;
}

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0; }
.fr-responsive-img {
    height: auto;
    width: 100%;

}
.fr-notice--info{
    z-index: 0;
}
.fr-fi-arrow-up-line::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: currentColor;
    -webkit-mask-image: url("../images/arrow-up-fill.svg");
    mask-image: url("../images/arrow-up-fill.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
}

.fr-share__link--twitter-x {
    font-size: 1rem;
    line-height: 1.5rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    overflow: hidden;
    padding: .5rem;
    white-space: nowrap;
}
.fr-share__link--twitter-x::before {
    --icon-size: 1.5rem;
    background-color: currentColor;
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    height: var(--icon-size);
    margin-left: 0;
    margin-right: .5rem;
    -webkit-mask-image: url("../images/twitter-x-fill.svg");
    mask-image: url("../images/twitter-x-fill.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    vertical-align: calc((.75em - var(--icon-size))*.5);
    width: var(--icon-size);
}
.fr-focus-visible {
    border: 2px solid #0a76f6; /* optionnel, effet halo */
}

.maison::before {
    content: "";
    margin-left: 0.5rem;
}
.nolist{
    list-style: none;
}
.fr-footer__top-link, .fr-breadcrumb__link {
    font-size: 0.8rem;
    line-height: 1.25rem;
}
.fr-footer__top-link:not(:hover):not(:active), .fr-footer__bottom-link:not(:hover):not(:active), .fr-footer__content-link:not(:hover):not(:active) {
    --underline-idle-width: 100%;
}

.fr-footer__bottom-copy * {
    font-weight: bold;
}
.external_link::after {
    content: var(--link-blank-content);
    font: var(--link-blank-font);
}

:root[data-fr-theme="dark"] {
    --color--chiffre1: #383838;
    --color--chiffre1b: #2a2a2a;
    --color--chiffre2: #eff4ff;
    --color--chiffre2b: #c8d9ff;
    --color--chiffre3: #4f6dae;
    --color--chiffre3b: #dfe9ff;
    --color--chiffre4: #ffc29e;
    --color--chiffre4b: #ffceb2;
    --color--chiffre4c: #f9decf;
    --color--chiffre5: #cdcdcd;
    --color--chiffre5b: #f0f0f0;
    --color--chiffre6: #4f6dae;
    --color--arrow-select: #ffffff;
}

:root[data-fr-theme="light"], :root[data-fr-theme="system"] {
    --color--chiffre1: #b0c9ff;
    --color--chiffre1b: #dfe9ff;
    --color--chiffre2: #eff4ff;
    --color--chiffre2b: #c8d9ff;
    --color--chiffre3: #4f6dae;
    --color--chiffre3b: #dfe9ff;
    --color--chiffre4: #ffc29e;
    --color--chiffre4b: #ffceb2;
    --color--chiffre4c: #f9decf;
    --color--chiffre5: #cdcdcd;
    --color--chiffre5b: #f0f0f0;
    --color--chiffre6: #4f6dae;
    --color--arrow-select: #000000;
}

@media (min-width: 62em){
    .fr-header__tools-links .fr-links-group {
        justify-content: flex-end;
        margin: 0px -0.25rem 0rem;
    }
}
@media (max-width: 61.938em){
    .fr-header .fr-links-group .fr-btn{
        max-width: 100%;
    }
}
/******************** spip table ***************/

/* ¯¯¯¯¯¯¯¯¯ *\
  TABLE
\* ˍˍˍˍˍˍˍˍˍ */
table.spip {
    --table-offset: 1rem;
    --text-spacing: 0;
    --title-spacing: 0;
    position: relative;
    margin-bottom: 2.5rem;
    padding-top: var(--table-offset);
    /* Style bordered, ajoute des bordures entre chaque ligne */
    /* Style bordered, ajoute des bordures entre chaque ligne */
}

table.spip::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
}

table.spip:not(.fr-table--no-scroll) table {
    width: 100%;
}

table.spip table {
    width: 100%;
    display: block;
    overflow: auto;
    border-spacing: 0;
}

table.spip[data-fr-js-table=true] caption {
    position: absolute;
    top: 0;
}

table.spip caption {
    position: initial;
    font-size: 1.075rem;
    line-height: 1.75rem;
    margin: var(--title-spacing);
    font-weight: 700;
    text-align: left;
    color: var(--text-title-grey);
}
.center{
    text-align:center;
}
.align-right{text-align:right;}
table.spip td,
table.spip th {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    border: 0;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

table.spip th {
    font-weight: 700;
}

table.spip thead {
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, var(--border-plain-grey), var(--border-plain-grey));
    background-color: var(--background-contrast-grey);

    --idle: transparent;
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
    color: var(--text-title-grey);
}

table.spip thead td,
table.spip thead th {
    font-weight: 700;
    padding-bottom: 0.875rem;
}

/*
* Cache la caption
*/
table.spip--no-caption {
    padding-top: 0;
}

table.spip--no-caption caption {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;

    /* added line */
    border: 0;
    height: 0;
}

/*
* Fixe le caption en bas du tableau
*/
table.spip--caption-bottom {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 1rem;
}

table.spip--caption-bottom table {
    margin-bottom: calc(var(--table-offset) + 2.75rem);
}

table.spip--caption-bottom[data-fr-js-table=true] caption {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 1rem;
}

table.spip--caption-bottom caption {
    margin-top: 1rem;
    height: min-content;
    caption-side: bottom;
}

/*
* pas de scroll ni de shadow
*/
table.spip--no-scroll {
    min-width: auto;
}

table.spip--no-scroll table {
    overflow-x: hidden;
}

table.spip--no-scroll caption {
    max-width: calc(100vw - 2rem);
}

/*
* Fixe la taille des colonnes du tableau
*/
table.spip--layout-fixed table {
    display: table;
    table-layout: fixed;
}

/* Style bordered, ajoute des bordures entre chaque ligne */
table.spip--bordered tbody tr {
    background-size: 100% 1px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));

    /* Style bordered, enleve le style even/odd  */
    /* Style bordered, enleve le style even/odd  */
}

/*
* Ombres ajoutées en Js si le contenu est plus grand que le conteneur
*/
table.spip__shadow {
    /**
    * Modifier ombre à gauche
    **/

    /**
    * Modifier ombre à droite
    **/

    /**
    * Modifier combinaison ombre à gauche et ombre à droite
    **/
}

table.spip__shadow::before {
    content: "";
    display: block;
    position: absolute;
    top: var(--table-offset);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: inset 0 0 0 0 #161616, inset 0 0 0 0 #161616;
    opacity: 0.32;
    pointer-events: none;
    transition: box-shadow 0.3s;
}

table.spip__shadow--left::before {
    box-shadow: inset 2rem 0 1rem -2rem #161616, inset 0 0 0 0 #161616;
}

table.spip__shadow--right::before {
    box-shadow: inset 0 0 0 0 #161616, inset -2rem 0 1rem -2rem #161616;
}

table.spip__shadow--left.fr-table__shadow--right::before {
    content: "";
    display: block;
    box-shadow: inset 2rem 0 1rem -2rem #161616, inset -2rem 0 1rem -2rem #161616;
}
.fr-table {
    padding-top: 1rem;
}
.fr-table[data-fr-js-table=true] caption{
    position: initial;
}
/*
* Positionnement ombres sur le tableau sans caption
*/
table.spip--no-captiontable.spip__shadow::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*
* Positionnement ombres sur le tableau avec caption en bas
*/
table.spip--caption-bottomtable.spip__shadow::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

:root:where([data-fr-theme="dark"])table.spip__shadow::before {
    opacity: 1;
}

table.spip tbody {
    background-color: var(--background-alt-grey);

    --idle: transparent;
    --hover: var(--background-alt-grey-hover);
    --active: var(--background-alt-grey-active);
}

table.spip tbody tr:nth-child(even) {
    background-color: var(--background-contrast-grey);

    --idle: transparent;
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
}

table.spip {
    /* Style bordered, ajoute des bordures entre chaque ligne */
    /* Style bordered, ajoute des bordures entre chaque ligne */
}

table.spip thead {
    background-image: linear-gradient(0deg, var(--border-plain-brown-cafe-creme), var(--border-plain-brown-cafe-creme));
    background-color: var(--background-contrast-brown-cafe-creme);

    --idle: transparent;
    --hover: var(--background-contrast-brown-cafe-creme-hover);
    --active: var(--background-contrast-brown-cafe-creme-active);
}

table.spip tbody {
    background-color: var(--background-alt-brown-cafe-creme);

    --idle: transparent;
    --hover: var(--background-alt-brown-cafe-creme-hover);
    --active: var(--background-alt-brown-cafe-creme-active);
}

table.spip tbody tr:nth-child(even) {
    background-color: var(--background-contrast-brown-cafe-creme);

    --idle: transparent;
    --hover: var(--background-contrast-brown-cafe-creme-hover);
    --active: var(--background-contrast-brown-cafe-creme-active);
}


@media (min-width: 36em) {
    /*! media sm */

    /*! media sm */
}

@media (min-width: 48em) {
    /*! media md */
    table.spip caption {
        font-size: 1.075rem;
        line-height: 2rem;
    }

    table.spip td,
    table.spip th {
        padding: 1rem;
    }

    table.spip thead td,
    table.spip thead th {
        padding-bottom: 1.125rem;
    }

    /*! media md */
}

@media (min-width: 62em) {
    /*! media lg */

    /*! media lg */
}

@media (min-width: 78em) {
    /*! media xl */

    /*! media xl */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /**
    * Correctif placement caption
    */
    table.spip[data-fr-js-table=true] caption {
        position: relative;
    }

    table.spip caption {
        color: #161616;
    }

    table.spip thead {
        background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a);
        background-color: #eee;
        color: #161616;
    }

    table.spip tbody {
        background-color: #f6f6f6;
    }

    table.spip tbody tr:nth-child(even) {
        background-color: #eee;
    }
}

/***************** fin table spip ******/

label.form-control {
    margin: 0 1rem 0;
}
#icons-sprite{
    display:contents;
}
#modal-rechercher, #modal-menu{
    z-index: 9999 !important;
}